{% include "style.html" %}
<h1> Internet shop home page </h1>


<div class="loggedAsBar">
    {% include "userLoginBar.html" %}
</div>
Login options:
{% if loggedAs %}
    <li><a href="/logout/">log out</a></li>
    <li><a href="/account/">manage account</a></li>
{% else %}
    <li><a href="/login/">log in</a></li>
    <li><a href="/register/">create account</a></li>
{% endif %}


<h3> List of all offers in database: </h3>
{% if offersList %}
    <ul>
    {% for offer in offersList %}
        <li><a href="/offers/{{ offer.id }}/">{{ offer }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No offers are available.</p>
{% endif %}

<h3> List of all registered users in database: </h3>
{% if usersList %}
    <ul>
    {% for user in usersList %}
        <li><a href="/users/{{user.id}}/">{{user}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No users are registered.</p>
{% endif %}
