{% include "style.html" %}
<h1> Offer Details </h1>

<div class="loggedAsBar">
    {% include "userLoginBar.html" %}
</div>

<hr>
<h3>Owner</h3>
<a href="/users/{{offer.user.id}}/">{{offer.user}}</a>
<h3>Title</h3>
{{offer.title}}
<h3>Description</h3>
{{offer.description}}
<h3>Price</h3>
{{offer.price}}
<h3>Available count</h3>
{{offer.availableItems}}
<h3>Date started</h3>
{{offer.startDate}}
<h3>Expiration date</h3>
{{offer.endDate}}

{% if loggedAs != offer.user and loggedAs != None%}
<hr>
<h3> Buy offer: </h3>
<form action="/buyOfferConfirm/">
  items count: <input type="text" name="count"> <br>
  <input type="hidden" name="offerId" value="{{ offer.id }}">
  <input type="submit" value="Buy">
</form>
    {% if invalidData %}
    <font color="red">
        entered invalid items count
    </font>
    {% endif %}
{% endif %}

<hr>
<li><a href="/">return to home page</a></li>
